<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Eventvorgänge mit Perioden") %>

<h1>Neue Event-Vorgang-Perioden-Zuordnung</h1>

<%= render 'form' %>

<%= link_to 'Zurück', event_job_period_associations_path %>
    <% end %>
<% end %>