<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <%= form_for(@period) do |f| %>
  <% if @period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
      <% @period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label 'Periode anlegen' %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
    <%= f.label 'Datum anlegen' %><br>
    <%= f.date_select :time, prompt: { day: 'Tag', month: 'Monat', year: 'Jahr' } %>
  </div>
  <div class="actions">
    <%= f.submit 'Periode aktualisieren', class: "btn btn-primary"  %>
  </div>
<% end %>
    <% end %>
<% end %>