<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Perioden") %>

<h1>Neue Periode</h1>

<%= render 'form' %>

<%= link_to 'Zurück', periods_path %>
    <% end %>
<% end %>